:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --background: #0c0f1a;
  /*--secondary-color:  #56b492;*/
  /*--secondary-color: #5ec6a0;*/
  --secondary-color: #44c294;
  --secondary-text-color: #595c75;
}

body {
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
